.profile-container-wrapper {
  max-width: 800px;
  margin: auto;
  margin-top: 70px;
}

.pic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-content img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid rgba(219, 219, 219);
}
.pic-content .image {
  margin-top: -70px;
}
.profile-desc {
  margin-bottom: 50px;
}
.profile-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto !important;
  align-items: center;
  max-width: 600px;
  padding: 10px !important;
  width: 100%;
  align-items: center;
}
.profile-container h4 {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
.profile-desc h5 {
  font-size: 1.4rem;
  font-weight: 400;
}
.follower {
  display: flex;
  justify-content: space-between;
  -moz-window-dragging: 250px;
  gap: 15px;
}

.username-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.f-u-btn {
  text-transform: none !important;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
  padding: 0px 20px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.follow-btn {
  background-color: #fcd70d !important;
  color: #2e313c;
  font-size: 1.1rem;
}
.unfollow-btn {
  color: #2e313c;
  border: 1px solid #fcd70d !important;
}
.unfollow-btn:hover {
  color: #fff;
  background-color: rgb(236, 22, 22) !important;
  border: 1px solid rgb(236, 22, 22) !important;
}

.user-image {
  margin-top: -135px;
  margin-left: -105px;
}
.user-image:hover {
  opacity: 0.5;
}
.camera {
  position: absolute;
  right: 60px;
  bottom: 60px;
  font-size: 1.5rem;
}
.profile-btn {
  border: 0.5px solid rgba(219, 219, 219);
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-container {
  margin-top: -170px;
}
.cancel-btn {
  border: none;
}
.cancel-btn:hover {
  text-decoration: underline;
  color: blue;
}

@media screen and (max-width: 600px) {
  .pic-content {
    margin-bottom: -10px;
    align-items: center;
  }
  .user-image {
    margin-left: -30px;
    margin-top: -85px;
  }
}
@media screen and (max-width: 550px) {
  .user-image {
    margin-left: -50px;
    margin-top: -85px;
  }
  .pic-content .image {
    margin-right: 0px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .user-image {
    margin-left: -60px;
    margin-top: -85px;
  }
}
@media screen and (max-width: 470px) {
  .user-image {
    margin-left: -45px;
    margin-top: -95px;
  }
  .profile-container {
    margin-top: 140px !important;
  }
}
@media screen and (max-width: 700px) {
  .profile-container {
    margin-top: 100px !important;
  }
  .user {
    flex-direction: column;
    margin-top: 140px !important;
  }

  .user-image {
    margin-left: -45px;
    margin-top: -95px;
  }
  .profile-container img {
    width: 90px !important;
    height: 90px !important;
  }
  .profile-container h4 {
    text-align: center;
  }
  .edit-profile {
    margin-left: 0px !important;
  }
  .btn-container {
    margin-left: 0px !important;
    margin-top: -20px;
  }
  .camera {
    right: 30px;
    bottom: 35px;
  }
  .tab-container {
    margin-top: 20px !important;
  }
}
