/* @import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2e313c;
}
.material-icons {
  cursor: pointer !important;
  /* color: #fff, rgba(219, 219, 219) !important; */
  color: #000 !important;
  font-size: 28px;
}
/* #2e313c */
a {
  color: #000 !important;
}
.home-username:hover {
  text-decoration: underline;
}
.app,
body {
  /* background-color: rgba(250, 250, 250) !important; */
  /* background-color: #8a83a3 !important; */
  background-color: #ecf0f3;
}
.brand-logo,
.card-content h2 {
  /* font-family: "Grand Hotel", cursive; */
  font-family: "Press Start 2P", cursive;
}
.brand-logo {
  color: #000 !important;
  font-size: 1.4rem;
  font-weight: 500;
}
.brand-logo:hover {
  text-decoration: none;
}

.home-card {
  transition: 0.3s;
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
}

.card-image img {
  width: 100%;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(35, 47, 221) !important;
  box-shadow: 0 1px 0 0 rgb(35, 47, 221) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(35, 47, 221) !important;
  box-shadow: 0 1px 0 0 rgb(35, 47, 221) !important;
}
.comment:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}
.createpost input[type="text"]:focus,
input[type="file"] {
  border-bottom: 1px solid rgba(219, 219, 219) !important;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219) !important;
}
.createpost input[type="file"] :focus {
  border-bottom: 1px solid rgba(219, 219, 219) !important;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219) !important;
}

.postedby:hover {
  text-decoration: underline;
}

.f-u-btn {
  text-transform: none !important;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
  padding: 0px 20px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.follow-btn {
  /* color: #1a91da; */
  background-color: #fcd70d !important;
  color: #2e313c;
  font-size: 1.1rem;
  /* border: 0.5px solid #1a91da; */
}
.unfollow-btn {
  color: #2e313c;
  /* background-color: #1a91da !important; */
  border: 1px solid #fcd70d !important;
}
.unfollow-btn:hover {
  color: #fff;
  background-color: rgb(236, 22, 22) !important;
  border: 1px solid rgb(236, 22, 22) !important;
}
.card-content p {
  text-decoration: underline;
}
.profile-desc {
  margin-bottom: 50px;
}
.profile-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto !important;
  align-items: center;
  max-width: 600px;
  padding: 10px !important;
  width: 100%;
}
.profile-container h4 {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
/* .profile-container h5 {
  font-size: 1.4rem;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-top: 1px solid rgba(219, 219, 219);
}
#links p {
  font-size: 0.8rem;
  font-weight: 600;
}
#links {
  position: relative;
}
#link:active {
  content: "";
  background-color: #fcd70d !important;
}
.image-btn {
  font-size: 0.9rem !important;
  color: #1a91da;
  border: 0.5px solid #fcd70d !important;
  margin-bottom: 10px;
  text-transform: none;
  width: 90px !important;
  border-radius: 15px !important;
  padding: -0px;
}

#links .material-icons {
  font-weight: 500;
}
#links .material-icons:hover,
.logout-btn:hover {
  color: #2603ff !important;
}

.post-btn {
  background-color: #fcd70d !important;
  color: #2e313c !important;
  padding: 0 20px !important;
  border-radius: 15px !important;
  border: 1px solid #fcd70d;

  font-weight: 700;
  text-transform: none;
}
.login-btn {
  margin-top: 10px;
  background-color: #1a91da !important;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  border: 1px solid #1a91da;
  border-radius: 20px;
  padding: 0px 25px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.login-btn:hover {
  background-color: #fff !important;
  font-weight: 600;
  color: #1a91da;
  text-transform: none;
}
.input-style {
  border: 1px solid rgba(219, 219, 219) !important;
  border-radius: 20px !important;
  padding-left: 10px !important;
  font-size: 1rem !important;
}
.signin-btn {
  background-color: #1a91da;

  text-decoration: none;
  text-transform: none;
  border: 1px solid #1a91da;
  border-radius: 30px;
  padding: 4px 10px;
  color: #fff !important;
  font-size: 1.2rem;
}
/* .pic-input {
  display: flex;
} */
.signin-btn:hover {
  background-color: #fff;
  color: #1a91da !important;
}
.signup-btn {
  background-color: #fff;

  text-decoration: none;
  text-transform: none;
  border: 1px solid #1a91da;
  border-radius: 30px;
  padding: 4px 10px;
  color: #1a91da !important;
  font-size: 1.2rem;
}
.signup-btn:hover {
  background-color: #1a91da;
  color: #fff !important;
}
.auth {
  max-width: 350px;
  margin: 10px auto;
  padding: 10px;
  margin-top: 90px;
}
.auth .card-content {
  background: rgba(250, 250, 250);
  padding: 20px;
  display: flex;
  min-height: 450px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card-content h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: -10px;
}
.post-btn:hover {
  /* background-color: #fff !important;
  color: #fcd70d !important;
  padding: 0 20px !important; */
  border: 1px solid #2e313c;
}
.item {
  width: 30%;
  margin: 4px;
}
.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.post-container {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding: 20px;

  border-radius: 10px;
  min-height: 120px;
}

#toast-container {
  border-radius: 30px !important;

  font-size: 0.7rem !important;
  right: 20px !important;
  left: auto !important;
  bottom: 60px !important;
}
.password-length {
  font-size: 0.9rem;

  background-color: #f44336 !important;
  max-width: 300px;
}
.like .material-icons {
  color: #2603ff !important;
}
.like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  gap: 4px;
}
.unlike {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  gap: 4px;
}
@media screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
  .profile-desc {
    margin-bottom: 10px;
  }
  .post-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    height: 190px;
  }
  .pic-content {
    flex-direction: row !important;
    gap: 20px;
    align-items: center;
  }
  .update-pic {
    font-size: 0.8rem;
    width: 50px !important;
  }
}
@media screen and (max-width: 750px) {
  #toast-container {
    right: auto !important;
    left: 50px !important;
    bottom: 60px !important;
  }
}
@media screen and (max-width: 470px) {
  .brand-logo {
    font-size: 1.2rem;
  }
  .navbar {
    padding: 10px !important;
  }
  /* #links {
    width: 100%;
    justify-content: space-between;
    gap: 0px !important;
  } */
  .profile-container {
    flex-direction: column;
    padding: 10px 20px !important;
    /* justify-content: center;

    align-items: center; */
  }
  .username-btn {
    justify-content: space-evenly !important;
  }
  .profile-container img {
    width: 90px !important;
    height: 90px !important;
  }
  .profile-container h4 {
    text-align: center;
  }
}
