* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2e313c;
}
.material-icons {
  cursor: pointer !important;
  color: #000 !important;
  font-size: 28px;
}
a {
  color: #000 !important;
}

.app,
body {
  background-color: #ecf0f3;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.home-card {
  transition: 0.3s;
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
}
.blue {
  color: #fff;
  background-color: #1a91da;
}
.profile-posts {
  border-top: 1px solid rgba(219, 219, 219);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.image-btn {
  font-size: 0.9rem !important;
  color: #1a91da;
  border: 0.5px solid #fcd70d !important;
  margin-bottom: 10px;
  text-transform: none;
  width: 120px !important;
  border-radius: 15px !important;
}

.item {
  width: 30%;
  margin: 4px;
}

#toast-container {
  border-radius: 30px !important;

  font-size: 1rem !important;
  right: 20px !important;
  left: auto !important;
  bottom: 60px !important;
}
.blue {
  background-color: #1a91da !important;
}
@media screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
  .profile-desc {
    margin-bottom: 10px;
  }

  .post-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    height: 228px;
  }
}
@media screen and (max-width: 750px) {
  #toast-container {
    right: auto !important;
    left: 50px !important;
    bottom: 60px !important;
  }
}
@media screen and (max-width: 550px) {
  .profile-container {
    flex-direction: column;
    padding: 10px 20px !important;
  }
}
@media screen and (max-width: 470px) {
  .brand-logo {
    font-size: 1.2rem;
  }

  .username-btn {
    justify-content: space-evenly !important;
  }
  .profile-container img {
    width: 90px !important;
    height: 90px !important;
  }
  .profile-container h4 {
    text-align: center;
  }
}
