* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2e313c;
}
.material-icons {
  cursor: pointer !important;
  color: #000 !important;
  font-size: 28px;
}
a {
  color: #000 !important;
}
.home-username:hover {
  text-decoration: underline;
}
.app,
body {
  background-color: #ecf0f3;
}

.card-content h2 {
  font-family: "Press Start 2P", cursive;
}

.home-card {
  transition: 0.3s;
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
}

.card-image img {
  width: 100%;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(35, 47, 221) !important;
  box-shadow: 0 1px 0 0 rgb(35, 47, 221) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(35, 47, 221) !important;
  box-shadow: 0 1px 0 0 rgb(35, 47, 221) !important;
}
.comment:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}
.createpost input[type="text"]:focus,
input[type="file"] {
  border-bottom: 1px solid rgba(219, 219, 219) !important;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219) !important;
}
.createpost input[type="file"] :focus {
  border-bottom: 1px solid rgba(219, 219, 219) !important;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219) !important;
}

.postedby:hover {
  text-decoration: underline;
}

.f-u-btn {
  text-transform: none !important;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
  padding: 0px 20px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.follow-btn {
  background-color: #fcd70d !important;
  color: #2e313c;
  font-size: 1.1rem;
}
.unfollow-btn {
  color: #2e313c;
  border: 1px solid #fcd70d !important;
}
.unfollow-btn:hover {
  color: #fff;
  background-color: rgb(236, 22, 22) !important;
  border: 1px solid rgb(236, 22, 22) !important;
}
.card-content p {
  text-decoration: underline;
}
.profile-desc {
  margin-bottom: 50px;
}
.profile-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto !important;
  align-items: center;
  max-width: 600px;
  padding: 10px !important;
  width: 100%;
}
.profile-container h4 {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
/* .profile-container h5 {
  font-size: 1.4rem;
} */
.profile-posts {
  border-top: 1px solid rgba(219, 219, 219);
}
.profile:hover {
  text-decoration: underline;
}
.profile p:hover {
  color: #2603ff !important;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.image-btn {
  font-size: 0.9rem !important;
  color: #1a91da;
  border: 0.5px solid #fcd70d !important;
  margin-bottom: 10px;
  text-transform: none;
  width: 120px !important;
  border-radius: 15px !important;
}
.photo-btn {
  font-size: 0.9rem !important;
  color: #1a91da;
  border: 0.5px solid #fcd70d !important;
  margin-bottom: 10px;
  text-transform: none;
  width: 130px !important;
  border-radius: 15px !important;
}

.post-btn {
  background-color: #fcd70d !important;
  color: #2e313c !important;
  padding: 0 10px !important;
  border-radius: 15px !important;
  border: 1px solid #fcd70d;

  font-weight: 700;
  text-transform: none;
}
.login-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #2603ff !important;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  border: 1px solid #2603ff;
  border-radius: 10px;
  padding: 0px 25px;

  font-size: 1.3rem;
  margin-bottom: 10px;
}
.login-btn:hover {
  background-color: #fff !important;
  font-weight: 600;
  color: #2603ff;
  text-transform: none;
}
.input-style {
  border: 1px solid rgba(219, 219, 219) !important;
  border-radius: 10px !important;
  padding-left: 10px !important;
  font-size: 1rem !important;
}
.signin-btn {
  background-color: #fff;

  text-decoration: none;
  text-transform: none;
  border: 1px solid #2603ff;
  border-radius: 10px;
  padding: 4px 10px;
  color: #2603ff !important;
  font-size: 1.2rem;
}

.signin-btn:hover {
  border: 1px solid #2603ff;
  background-color: #2603ff;
  color: #fff !important;
}
.signup-btn {
  background-color: #2603ff;

  text-decoration: none;
  text-transform: none;
  border: 1px solid #2603ff;
  border-radius: 10px;
  padding: 4px 10px;
  color: #fff !important;
  font-size: 1.2rem;
}
.signup-btn:hover {
  background-color: #fff;
  color: #2603ff !important;
}

.post-btn:hover {
  border: 1px solid #2e313c;
}
.item {
  width: 30%;
  margin: 4px;
}
.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.post-container {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding: 20px;

  border-radius: 10px;
  min-height: 120px;
}

#toast-container {
  border-radius: 30px !important;

  font-size: 0.7rem !important;
  right: 20px !important;
  left: auto !important;
  bottom: 60px !important;
}
.password-length {
  font-size: 0.9rem;

  background-color: #f44336 !important;
  max-width: 300px;
}
.like .like-icon {
  color: red !important;
}
.unlike-icon {
  color: black;
}
.like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  gap: 4px;
}
.unlike {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  gap: 4px;
}
@media screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
  .profile-desc {
    margin-bottom: 10px;
  }

  .post-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    height: 228px;
  }
  .pic-content {
    margin-bottom: -10px;
    align-items: center;
  }
  .username-btn {
    gap: 0px !important;
  }
  .update-pic {
    font-size: 0.8rem;
    max-width: 20px !important;
  }
}
@media screen and (max-width: 750px) {
  #toast-container {
    right: auto !important;
    left: 50px !important;
    bottom: 60px !important;
  }
}
@media screen and (max-width: 470px) {
  .brand-logo {
    font-size: 1.2rem;
  }
  .profile-container {
    flex-direction: column;
    padding: 10px 20px !important;
  }
  .username-btn {
    justify-content: space-evenly !important;
  }
  .profile-container img {
    width: 90px !important;
    height: 90px !important;
  }
  .profile-container h4 {
    text-align: center;
  }
}
